<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dezhonger.mapper.PersonBookDao">
    <select id="getPersonBookById"  resultType="com.dezhonger.entity.PersonBook">
        select * from havebook where username=#{0}
    </select>
    <insert id="insertPersonBook" >
        insert into havebook (username, bookname) values(#{0}, #{1})
    </insert>
    <delete id="delete">
        delete from havebook where id = #{0}
    </delete>
</mapper>